# basic tool
tqdm


# jupyter
ipykernel


# data process
numpy
pandas


# model training
tensorflow


# visualization
plotly
nbformat
matplotlib
seaborn


# image
imutils
opencv-contrib-python
mediapipe
scikit-image
rembg
numpy==1.20.3 # restricted by rembg


# google-drive connection
gdown
google-api-python-client



